.active {
    border-bottom: 2px solid;
}
.border--bottom {
    border-bottom: 2px solid #e5e7eb;
}
.grid-item {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    transition: all 0.25s linear;
}
