<h1 class="text-xl">Cập nhật địa chỉ</h1>

<div class="mt-4">
    <form action="">
        <div class="flex items-center gap-3">
            <div class="">
                <input type="text" class="border-1 px-3 py-2 rounded-sm border-error focus:border-main w-full"
                    placeholder="Họ tên">
                <p class="mt-2 text-sm text-error">Bạn chưa nhập họ tên</p>
            </div>
            <div class="">
                <input type="text" class="border-1 px-3 py-2 rounded-sm focus:border-main w-full"
                    placeholder="Số điện thoại">
                <p class="mt-2 text-sm text-error">Bạn chưa nhập họ tên</p>
            </div>
        </div>
        <div class="w-full mt-3">
            <input type="text" class="w-full border-1 px-3 py-2 rounded-sm border-error focus:border-main"
                placeholder="Tỉnh/Thành phố, Quận/Huyện, Phường/Xã">
            <p class="mt-2 text-sm text-error">Bạn chưa nhập họ tên</p>
        </div>
        <div class="w-full mt-3">
            <input type="text" class="w-full border-1 px-3 py-2 rounded-sm border-error focus:border-main"
                placeholder="Địa chỉ cụ thể">
            <p class="mt-2 text-sm text-error">Bạn chưa nhập họ tên</p>
        </div>
        <div class="flex mt-5 justify-end gap-1">
            <button class="uppercase text-sm px-5 py-2 rounded-sm 
                hover:bg-gray/100 transition-colors font-[500]">Hủy</button>
            <button
                class="bg-main text-white uppercase text-sm px-4 py-2 rounded-sm hover:bg-black transition-colors font-[500]">Hoàn
                thành</button>
        </div>
    </form>
</div>