.active {
    color: #016bb9;
    border: 1px solid #016bb9 !important;
    font-weight: bold;
}
.border-color {
    border: thick double #51544f;
}
.color-active {
    border: thick double #016bb9;
}
@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animation-popup {
    animation: popup 0.5s linear;
}
.hidden--cart {
    opacity: 0;
    display: none;
}
.visibility--cart {
    opacity: 1;
    display: block;
}
