.btn-color {
    font-weight: 500;
    & div {
        border: 2px solid black !important;
    }
}
.btn-cart:hover {
    &:hover {
        border: 1px solid black !important;
        &-img {
            border-bottom: 1px solid black !important;
        }
    }
}
