<p>cart works!</p>
<section class="bg-[#000c] w-full h-full fixed z-50 top-0 left-0 flex justify-end hidden--cart transition-all"
    [class.visibility--cart]="isCart">
    <div class="flex flex-col justify-between bg-white w-[480px] h-full">
        <div class="">
            <div class="py-[18px] px-[24px] flex justify-between items-center border-b-2 border-[#e6e6e6]">
                <h1 class="text-[18px] font-[600]">Giỏ hàng</h1>
                <button (click)="isCart = false; closePopup()"><i class="fa-solid fa-xmark text-[22px]"></i></button>
            </div>
            <!-- products enter cart -->
            <div class="py-[12px] px-[24px]
            scroll--item">
                <!-- items -->
                <div class="py-[12px] flex justify-between 
                items-center" *ngFor="let item of arrCartItem">
                    <div class="flex items-center gap-5">
                        <div class="w-[60px] h-full">
                            <img [src]="item.image" alt="" class="w-full h-full object-cover">
                        </div>
                        <div class="">
                            <strong class="text-title text-xl w-[10rem]
                            line-clamp-1 block h-7">
                                {{item.name}}
                            </strong>
                            <strong class="text-maintext-[17px] mt-[10px] block">
                                {{item.price}}.000đ
                            </strong>
                            <div class="mt-[10px] flex items-center gap-3 
                            h-[25px]">
                                <button class="bg-white border p-1 rounded-sm px-2 h-full hover:text-main">
                                    <i class="fa-solid fa-minus text-[15px]">

                                    </i>
                                </button>
                                <input type="text" value="{{item.quantity}}"
                                    class="text-center border-1 w-[60px] p-1 h-full" disabled>
                                <button class="bg-white border p-1 rounded-sm px-2 h-full hover:text-main">
                                    <i class="fa-solid fa-plus text-[15px]"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button class="text-[#942929] hover:text-main">
                            <i class="fa-solid fa-trash text-[22px]"></i>
                        </button>
                    </div>
                </div>
                <!-- items -->
            </div>
            <!-- products enter cart -->
        </div>

        <!-- button checkout -->
        <div class="py-[18px] px-[24px] border-t-2">
            <div class="flex justify-between items-center">
                <strong class="text-[17px]">Tổng tiền:</strong>
                <p class="text-mainfont-serif text-[17px]">400.000đ</p>
            </div>
            <button class="w-full font-[600] py-[14px] mt-3 bg-main text-white rounded-sm hover:bg-black"
                [routerLink]="['check-out']" (click)="isCart = false; closePopup()">
                Đặt hàng
            </button>
        </div>
        <!-- button checkout -->
    </div>
</section>