<main class="flex items-center">
    <section class="flex-1 relative">
        <div class="h-dvh">
            <img src="https://themewagon.github.io/homeland/images/hero_bg_1.jpg" alt="" class="size-full object-cover">
        </div>
        <div class="absolute size-full top-0 left-0 bg-[#00000073]"></div>
    </section>
    <section class="w-[480px] py-[40px] h-dvh relative">
        <div class="flex justify-center mb-[70px] mt-[50px]">
            <button class="" [routerLink]="['']">
                <h1 class="uppercase text-[20px] font-[500]">
                    Chống thấm khang an
                </h1>
                <h1 class="uppercase text-[7.8px]">
                    Cung Thi công chống thấm - Cung cấp vật tư chống thấm
                </h1>
            </button>
        </div>
        <div class="text-center mb-[32px]">
            <h1 class="text-[21px] font-[500]">Đăng ký</h1>
        </div>       
        <!-- form -->
<form class="mt-4 w-[348px] m-auto"  [formGroup]="registerform">
    <div class="w-full">
        <input type="text" placeholder="Nhập tên tài khoản"
            class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
            formControlName="userName">
        <div *ngIf="registerform.controls['userName'].invalid && (registerform.controls['userName'].dirty || registerform.controls['userName'].touched)" class="mt-2 text-[15px] text-error">
            <span *ngIf="registerform.controls['userName'].errors?.['required']">
                Vui lòng nhập tên tài khoản
            </span>
            <span *ngIf="registerform.get('userName')?.hasError('UserNameEx')">
                Tên tài khoản đã tồn tại
            </span>
        </div>
    </div>
    <div class="w-full mt-3">
        <input type="text" placeholder="Nhập họ và tên người dùng"
            class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
            formControlName="name">
        <div *ngIf="registerform.controls['name'].invalid && (registerform.controls['name'].dirty || registerform.controls['name'].touched)" class="mt-2 text-[15px] text-error">
            <span *ngIf="registerform.controls['name'].errors?.['required']">
                Họ và tên không được để trống
            </span>
            <span *ngIf="registerform.controls['name'].errors?.['maxlength']">
                Họ và tên không quá 35 ký tự
            </span>
        </div>
    </div>
    <div class="w-full mt-3">
        <input type="email" placeholder="Nhập email"
            class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
            formControlName="email">
        <div *ngIf="registerform.controls['email'].invalid && (registerform.controls['email'].dirty || registerform.controls['email'].touched)" class="mt-2 text-[15px] text-error">
            <span *ngIf="registerform.controls['email'].errors?.['required']">
                Bạn chưa nhập email
            </span>
            <span *ngIf="registerform.controls['email'].errors?.['email']">
                vui lòng nhập đúng định dạng email
            </span>
            <span *ngIf="registerform.get('email')?.hasError('EmailEx')">
                Email đã được đăng ký
            </span>
        </div>
    </div>
    <div class="w-full mt-3">
        <input type="phone" placeholder="Nhập số điện thoại"
            class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
            formControlName="phone">
            <div *ngIf="registerform.controls['phone'].invalid && (registerform.controls['phone'].dirty || registerform.controls['phone'].touched)" class="mt-2 text-[15px] text-error">
                <span *ngIf="registerform.controls['phone'].errors?.['required']">
                    Bạn chưa nhập số điện thoại
                </span>
                <span *ngIf="(registerform.controls['phone'].errors?.['maxlength']||registerform.controls['phone'].errors?.['minlength'] )">
                    Số điện thoại gồm 10 số
                </span>
                <span *ngIf="registerform.get('phone')?.hasError('PhoneEx')">
                    Số điện thoại đã được đăng ký
                </span>
            </div>
    </div>
    <div class="w-full mt-3">
        <input type="password" placeholder="Nhập mật khẩu"
            class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
            formControlName="password">
            <div *ngIf="registerform.controls['password'].invalid && (registerform.controls['password'].dirty || registerform.controls['password'].touched)" class="mt-2 text-[15px] text-error">
                <span *ngIf="registerform.controls['password'].errors?.['required']">
                    Bạn chưa nhập mật khẩu
                </span>
                <span *ngIf="registerform.controls['password'].errors?.['maxlength']">
                    Mật khẩu không quá 30 ký tự
                </span>
            </div>
    </div>
    <div class="w-full mt-3">
        <input type="password" placeholder="Xác nhận mật khẩu"
      class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
       name="confirmPassword" formControlName="confirmPassword" >
       <div class="mt-2 text-[15px] text-error" *ngIf=" (registerform.controls['confirmPassword'].dirty || registerform.controls['confirmPassword'].touched)">
            <span *ngIf="registerform.controls['confirmPassword'].errors?.['required']">
                Bạn chưa nhập mật khẩu xác nhận
            </span>
            <span *ngIf="registerform.errors?.['passwordMismatch'] && !registerform.controls['confirmPassword'].errors?.['required']">
                Mật khẩu phải trùng với mật khẩu xác thực
            </span>
        </div>
    </div>
    <button
        class="w-full mt-4 bg-main text-white py-[10px] rounded-sm hover:bg-black transition-colors font-[500] uppercase text-[15px]"
        (click)="registersubmit()" >
        Đăng ký
    </button>
</form>
<div class="w-[348px] mx-auto mt-8 text-[15px]">
    <p class="text-center mt-3 text-[15px] leading-5">
        Bạn đã có tài khoản? <button class="text-main" [routerLink]="['/sign-in']">Đăng nhập</button>
    </p>
</div>

    </section>
</main>
<!-- form -->

