<section class="border rounded-sm relative">
    <div class="w-full h-[340px] overflow-hidden relative max-md:h-[200px] max-md:w-full">
        <img [src]="product.image" alt="" class="w-full h-full object-contain scale-[0.7]">
    </div>
    <div class="">
        <h2 class="text-black text-[17px] font-serif text-center mt-[24px] font-[500] line-clamp-1 uppercase">
            <a class="hover:text-title" [routerLink]="['/single-product/' + product.id]"> {{product.name}} </a>
        </h2>
        <p class="text-main text-[17x] text-center mb-[24px] mt-3 font-[500]">
            {{(product.price*1000).toLocaleString()}}₫
        </p>
    </div>
    <div class="px-[20px] pb-4">
        <!-- <button
            class=" transition-all text-title w-full py-[10px] text-[14px] rounded-sm uppercase font-[500] hover:bg-main hover:text-white"
            [routerLink]="['/single-product/' + product.id]">
            <i class="fa-solid fa-cart-plus mr-[5px]"></i>
            Thêm vào giỏ hàng
        </button> -->
    </div>
    <div class="absolute top-2 right-3" *ngIf="token != null">
        <button class=" border border-secondColor p-2 rounded-full is-check-wishList"
            *ngIf="CheckIsWishList(product.id) === true" (click)="DeleteProductToWishList(product.id)">
            <i class="fa-regular fa-heart"></i>
        </button>
        <button class=" border border-secondColor p-2 rounded-full" *ngIf="CheckIsWishList(product.id) === false"
            (click)="AddProductToWishList(product.id)">
            <i class="fa-regular fa-heart"></i>
        </button>
    </div>
</section>