<!-- nav -->
<header class="flex items-center">
    <div class="flex items-center justify-between max-w-[1200px] container mx-auto py-[37px] max-lg:pb-[20px]">
        <!-- logo -->
        <div class="w-[141px]">
            <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6371d7efa81428f277b0deec_logo.png"
                alt="" class="w-full max-lg:w-[8rem] max-sm:w-[5rem]">
        </div>
        <!-- logo -->

        <!-- item nav -->
        <div class="flex gap-[30px] max-lg:absolute max-lg:bg-white top-0 left-0 max-lg:h-[100vh] max-lg:flex-col max-lg:p-7 max-lg:w-[100vw] max-lg:shadow-1 md:visible max-lg:pt-[3rem] max-sm:pt-[1rem] z-50"
            [class.max-lg:hidden]="!isNav">

            <div class="lg:hidden flex justify-between items-center w-full">
                <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6371d7efa81428f277b0deec_logo.png"
                    alt="" class="w-full max-lg:w-[8rem] max-sm:w-[5rem]">

                <button (click)="isNav = !isNav">
                    <i class="fa-solid fa-xmark text-2xl"></i>
                </button>
            </div>

            <a class=" text-[15px] font-[500] uppercase hover:text-[#79a206] cursor-pointer">Trang chủ</a>
            <a class=" text-[15px] font-[500] uppercase cursor-pointer hover:text-[#79a206]">Của hàng</a>
            <a class=" text-[15px] font-[500] uppercase cursor-pointer hover:text-[#79a206]">Bài viết</a>
            <a class=" text-[15px] font-[500] uppercase cursor-pointer hover:text-[#79a206]">Liên hệ</a>

            <div class="hidden max-sm:block">
                <div class="flex items-center justify-between mt-5">
                    <button
                        class="bg-[#79a206] border-gray-1 rounded-md  py-2 px-4 transition-all font-[500] text-white hover:bg-black uppercase text-[14px] w-full">
                        Đăng nhập
                    </button>
                </div>
            </div>
        </div>
        <!-- item nav -->

        <div class="flex gap-8">
            <button class="hover:text-[#79a206]">
                <i class="fa-solid fa-magnifying-glass text-[20px]"></i>
            </button>
            <button class="hover:text-[#79a206]">
                <i class="fa-solid fa-cart-shopping text-[20px]"></i>
            </button>
            <button
                class="bg-[#79a206] border-gray-1 rounded-md  py-2 px-4 transition-all font-[500] text-white hover:bg-black uppercase text-[14px] max-sm:hidden">
                Đăng nhập
            </button>
            <button class="hover:text-[#79a206] uppercase text-[14px] font-[500] max-sm:hidden">
                Đăng kí
            </button>
            <button (click)="isNav = !isNav">
                <i class="fa-solid fa-bars text-[20px] lg:hidden"></i>
            </button>
        </div>
    </div>
</header>
<!-- nav -->
<router-outlet></router-outlet>

<!-- footer -->
<footer class="bg-[#f6f7fb] pt-[120px] relative pb-[50px]">
    <div class="w-[213px] h-[192px] absolute bottom-0 right-0">
        <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6379f2dbab3450a56a098a9d_design-image.png"
            alt="" class="w-full h-full object-cover">
    </div>
    <div class="container max-w-[1200px] flex justify-between items-top">
        <div class="w-[256px]">
            <div class="">
                <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6371d7efa81428f277b0deec_logo.png"
                    alt="">
            </div>
            <div class="mt-[36px] text-[#51544f] text-[17px] leading-7 text-justify">
                <p>Với Pinaf, bạn có thể dễ dàng tạo ra những bông hoa trông chuyên nghiệp với nhiều kiểu bố cục khác
                    nhau.</p>
                <div class="mt-[36px]">
                    <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6375c8b45b8d27515843a88f_payment.png"
                        alt="">
                </div>
                <p class="mt-[35px] text-[#51544f] text-[17px]">Được cung cấp bởi Webflow</p>
            </div>
        </div>
        <div class="w-[233px]">
            <div class="">
                <h1 class="text-[23px] font-serif">Thông tin liên lạc</h1>
            </div>
            <div class="mt-[20px] text-[#51544f] text-[17px] leading-7 text-justify">
                <p>258C, Thành phố phía Nam, Thị trấn chính Tháp Brolex, New York</p>
                <div class="mt-[22px]">
                    <h1 class="text-[black] text-18px">Điện thoại/Web:</h1>
                </div>
                <p class="mt-[16px] text-[#51544f] text-[17px]">1234567890</p>
                <p class="text-[#51544f] text-[17px]"> {{'aram@gmail.com'}} </p>
            </div>
        </div>
        <div class="w-[126px]">
            <div class="">
                <h1 class="text-[23px] font-serif">Thông tin</h1>
            </div>
            <div class="mt-[20px] text-[#51544f] text-[17px] leading-7 text-justify">
                <p class="mt-[16px] text-[#51544f] text-[17px]">Giới thiệu</p>
                <p class="mt-[16px] text-[#51544f] text-[17px]">Liên hệ</p>
                <p class="mt-[16px] text-[#51544f] text-[17px]">Cửa hàng</p>
                <p class="mt-[16px] text-[#51544f] text-[17px]">Giới thiệu</p>
                <p class="mt-[16px] text-[#51544f] text-[17px]">Giới thiệu</p>
            </div>
        </div>
        <div class="w-[256px]">
            <div class="">
                <h1 class="text-[23px] font-serif">Bản tin</h1>
            </div>
            <div class="mt-[30px] text-[#51544f] text-[17px] leading-7 text-justify">
                <input type="text" placeholder="Nhập email của bạn"
                    class="w-full py-[8px] px-[12px] border-1 border-[#dfdfdf]text-[black] focus:border-[#79a206] rounded-sm">
                <button
                    class="bg-black text-white w-full h-[49px] font-[600] mt-[12px] rounded-sm hover:bg-[#79a206]">Đặt
                    mua</button>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->