@if(1 < 0){ <!-- header -->
    <header class="w-full bg-main py-[10px] flex items-center justify-center relative" *ngIf="isHeader">
        <h1 class="text-white">
            <i class="fa-solid fa-phone-volume mr-3"></i>
            Hotline : 0966 433 493
        </h1>
        <div class="absolute right-10">
            <button class="text-white" (click)="isHeader = !isHeader">
                <i class="fa-solid fa-xmark text-[20px]"></i>
            </button>
        </div>
    </header>
    <!-- header -->

    <!-- nav -->
    <nav class="flex items-center">
        <div class="flex items-center justify-between max-w-[1200px] container mx-auto py-[37px] max-lg:pb-[20px]">
            <!-- logo -->
            <button class="">
                <h1 class="uppercase text-[20px] font-[500]">Chống thấm khang an</h1>
                <h1 class="uppercase text-[7.8px]">
                    Cung Thi công chống thấm - Cung cấp vật tư chống thấm
                </h1>
            </button>
            <!-- logo -->

            <!-- item nav -->
            <div class="flex gap-[30px] max-lg:absolute max-lg:bg-white top-0 left-0 max-lg:h-[100vh] max-lg:flex-col max-lg:p-7 max-lg:w-[100vw] max-lg:shadow-1 md:visible max-lg:pt-[3rem] max-sm:pt-[1rem] z-50"
                [class.max-lg:hidden]="!isNav">

                <div class="lg:hidden flex justify-between items-center w-full">
                    <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6371d7efa81428f277b0deec_logo.png"
                        alt="" class="w-full max-lg:w-[8rem] max-sm:w-[5rem]">

                    <button (click)="isNav = !isNav">
                        <i class="fa-solid fa-xmark text-2xl"></i>
                    </button>
                </div>
                <a class=" text-[15px] font-[500] uppercase hover:text-main cursor-pointer" [routerLink]="['']"
                    routerLinkActive="text-main" [routerLinkActiveOptions]="{exact: true}">Trang chủ</a>
                <a class=" text-[15px] font-[500] uppercase cursor-pointer hover:text-main" [routerLink]="['shop']"
                    routerLinkActive="text-main">Cửa hàng</a>
                <a class=" text-[15px] font-[500] uppercase cursor-pointer hover:text-main" routerLinkActive="text-main"
                    [routerLink]="['/User/blog/1']">Bài
                    viết</a>
                <a class=" text-[15px] font-[500] uppercase cursor-pointer hover:text-main"
                    routerLinkActive="text-main">Liên hệ</a>


                <div class="hidden max-sm:block">
                    <div class="flex items-center justify-between mt-5">
                        <button
                            class="bg-main border-gray-1 rounded-md  py-2 px-4 transition-all font-[500] text-white hover:bg-black uppercase text-[14px] w-full">
                            >
                            Đăng nhập
                        </button>
                    </div>
                </div>
            </div>
            <!-- item nav -->

            <!-- button -->
            <div class="flex gap-8">
                <button class="hover:text-main">
                    <!-- <i class="fa-solid fa-magnifying-glass text-[20px]"></i> -->
                    <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6372028c131625449712a723_Search.svg"
                        alt="">
                </button>
                <div class="items-center flex relative">
                    <button class="hover:text-main" [routerLink]="['/cart']">
                        <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6371fca3352e282d8446f624_icon.svg"
                            alt="">
                    </button>
                    <span
                        class="absolute bg-main text-white px-1 py-0.5 rounded-full text-[12px] top-[-5px] right-[-5px]">
                        {{countNumberLoacal}} </span>
                </div>
                @if (!isGroupBtn) {
                <button (click)="isSignIn = true"
                    class="bg-main border-gray-1 rounded-md  py-2 px-4 transition-all font-[500] text-white hover:bg-black uppercase text-[14px] max-sm:hidden">
                    Đăng nhập
                </button>

                <button (click)="SignIn()" class="hover:text-[#79a206] uppercase text-[14px] font-[500] max-sm:hidden">
                    Đăng kí
                </button>
                }
                @else {
                <button class="hover:text-main uppercase text-[14px] font-[500] max-sm:hidden"
                    [routerLink]="['account']">
                    Tài khoản
                </button>
                }
                <button (click)=" isNav=!isNav">
                    <i class="fa-solid fa-bars text-[20px] lg:hidden"></i>
                </button>
            </div>
            <!-- button -->
        </div>
    </nav>
    <!-- nav -->
    }


    <app-header></app-header>
    <router-outlet></router-outlet>

    <!-- ====== Footer Section Start -->
    <footer class="relative z-10 bg-[#f6f7fb] dark:bg-dark pt-20 pb-10 lg:pt-[120px] lg:pb-20">
        <div class="container mx-auto">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full px-4 sm:w-2/3 lg:w-3/12">
                    <div class="w-full mb-10">
                        <button class="mb-4">
                            <h1 class=" text-body-color dark:text-dark-6 uppercase text-[20px] font-[500]">Chống thấm
                                khang an</h1>
                            <h1 class=" text-body-color dark:text-dark-6 uppercase text-[7.8px]">
                                Cung Thi công chống thấm - Cung cấp vật tư chống thấm
                            </h1>
                        </button>
                        <p class="text-base text-body-color dark:text-dark-6 mb-7 text-justify w-[237px]">
                            Bảo vệ ngôi nhà của bạn. Chúng tôi chuyên cung cấp đa dạng các loại sơn chống thấm chất
                            lượng
                            cao, phù hợp với mọi nhu cầu từ nhà dân dụng đến công trình công nghiệp
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="absolute left-0 bottom-0 z-[-1]">
                <svg width="217" height="229" viewBox="0 0 217 229" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M-64 140.5C-64 62.904 -1.096 1.90666e-05 76.5 1.22829e-05C154.096 5.49924e-06 217 62.904 217 140.5C217 218.096 154.096 281 76.5 281C-1.09598 281 -64 218.096 -64 140.5Z"
                        fill="url(#paint0_linear_1179_5)" />
                    <defs>
                        <linearGradient id="paint0_linear_1179_5" x1="76.5" y1="281" x2="76.5" y2="1.22829e-05"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.08" />
                            <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                </svg>
            </span>
            <!-- <div class="w-[213px] h-[192px] absolute bottom-0 right-0">
                <img src="https://assets.website-files.com/63708df071bc73798fae96ee/6379f2dbab3450a56a098a9d_design-image.png"
                    alt="" class="w-full h-full object-cover">
            </div> -->
        </div>
    </footer>
    <!-- ====== Footer Section End -->
    <!--SignUp-->
    <section class="bg-[#000c] w-full h-full fixed z-50 top-0 left-0 pt-[76px] hidden--cart transition-all"
        [class.visibility--cart]="isSignUp">
        <section class="bg-white p-[25px] rounded-sm w-[400px] absolute left-[50%] translate-x-[-50%]">
            <div class="absolute top-2 right-2">
                <button (click)="isSignUp = false">
                    <i class="fa-solid fa-xmark text-[22px]"></i>
                </button>
            </div>
            <div class="mt-[15px]">
                <app-sign-up></app-sign-up>
                <div class="mt-4 gap-1 text-gray-500 flex items-center justify-center">
                    <h1 class="leading-7 text-[17px] text-justify">
                        Bạn đã có tài khoản?
                    </h1>
                    <button (click)="DKDN()" class="text-title hover:text-main/65 font-[500] text-[17px]">
                        Đăng Nhập
                    </button>
                </div>
            </div>
        </section>
    </section>
    <!--End SignUp-->