<div class="border-b-2 pb-[18px] px-[30px]">
    <h1 class="text-[19px]">Hồ sơ của tôi</h1>
    <p class="text-[14px] mt-1 text-secondColor/80">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
</div>
<div class="pt-[30px] flex">
    <div class="w-[602px] mr-[50px]">
        <div class="mb-[30px] flex items-center justify-end gap-4">
            <label for="">Tên đăng nhập</label>
            <input type="text" name="" id="" class="border p-[12px] w-[407px] rounded-sm">
        </div>
        <div class="flex items-center justify-end gap-4 rounded-sm border-error mb-[30px]">
            <label for="">Họ tên</label>
            <input type="text" name="" id="" class="border p-[12px] w-[407px]">
        </div>
        <div class="flex items-center justify-end gap-4 rounded-sm border-error mb-[30px]">
            <label for="">Email</label>
            <input type="text" name="" id="" class="border p-[12px] w-[407px]">
        </div>
        <div class="flex items-center justify-end gap-4 rounded-sm border-error mb-[30px]">
            <label for="">Số điện thoại</label>
            <input type="text" name="" id="" class="border p-[12px] w-[407px]">
        </div>
        <div class="flex justify-end">
            <button class="px-[20px] py-2 font-[500] text-[14px]
            rounded-sm bg-main hover:bg-title uppercase text-white">Lưu</button>
        </div>
    </div>
    <div class="border-l-2 flex justify-center flex-1">
        <div class="w-[172px] flex items-center flex-col">
            <div class="" class="size-[100px] my-[20px]">
                <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="" class="size-full object-cover rounded-full">
            </div>
            <button class="px-[20px] py-1 rounded-sm hover:bg-secondColor/10 border">
                Chọn ảnh
            </button>
            <p class="text-[14px] text-secondColor/70 mt-2 leading-5">Dụng lượng file tối đa 1 MB
                Định dạng:.JPEG, .PNG</p>
        </div>
    </div>
</div>