<section class="container max-w-[1200px] pt-[4rem] pb-[120px]">
    <aside class="w-full flex items-top justify-between">
        <div class="w-[220px]">
            <!-- top group button -->
    
            <!-- top group button -->
            <div class="flex flex-col mt-4
            [&_button]:flex [&_button]:items-center [&_button]:text-[14px] 
            [&_i]:w-8 [&_i]:text-[18px]">
                <button class="text-left py-[14px] uppercase text-[14px] font-[500] hover:text-main w-full"
                    routerLinkActive="text-main" [routerLink]="['/account']" [routerLinkActiveOptions]="{exact: true}">
                    <i class="fa-regular fa-user"></i>
                    Hồ
                    sơ</button>
                <button class="text-left py-[14px] uppercase text-[14px] font-[500] hover:text-main w-full"
                    routerLinkActive="text-main" [routerLink]="['/account/address']">
                    <i class="fa-solid fa-location-dot"></i> Địa
                    chỉ</button>
                <button class="text-left py-[14px] uppercase text-[14px] font-[500] hover:text-main w-full"
                    routerLinkActive="text-main" [routerLink]="['/account/forget-password']">
                    <i class="fa-solid fa-rotate"></i> Đổi mật
                    khẩu</button>
                <button class="text-left py-[14px] uppercase text-[14px] font-[500] hover:text-main w-full"
                    routerLinkActive="text-main" [routerLink]="['/account/purchase']"><i
                        class="fa-solid fa-basket-shopping"></i> Đơn
                    hàng</button>
                <button class="text-left py-[14px] uppercase text-[14px] font-[500] hover:text-main w-full"
                    routerLinkActive="text-main" [routerLink]="['/account/favourite']"><i
                        class="fa-brands fa-gratipay"></i>
                    yêu thích
                </button>
                <button class="text-left py-[14px] uppercase text-[14px] font-[500] hover:text-main w-full"
                    (click)="SignOut()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Đăng xuất
                </button>
            </div>
        </div>
        <div class="flex-1">
            <router-outlet></router-outlet>
        </div>
    </aside>
</section>