<p class="text-center mt-1 font-semibold text-black-0 text-4xl pb-2">Đổi mật khẩu</p>
<form>
    <div class="mt-4 flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
        <div class="w-full">
            <label for="" class="mb-2 text-black-0  font-semibold text-xl">Mật khẩu cũ</label>
            <input type="password"
                class="mt-2 p-3 w-full border-1 rounded-lg text-black dark:border-gray-200 dark:bg-gray-100 "
                placeholder="Mật khẩu cũ" formControlName="password">
        </div>
    </div>
    <div class="mt-4 flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
        <div class="w-full">
            <label for="" class="text-black-0 font-semibold text-xl">Mật khẩu mới</label>
            <input type="password"
                class="mt-2 p-3 w-full border-1 rounded-lg text-black dark:border-gray-200 dark:bg-gray-100"
                placeholder="Mật khẩu mới" formControlName="passwordnew">
        </div>
    </div>
    <div class="mt-4 flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
        <div class="w-full">
            <label for="" class="text-black-0 font-semibold text-xl">xác nhận mật khẩu</label>
            <input type="password"
                class="mt-2 p-3 w-full border-1 rounded-lg text-black dark:border-gray-200 dark:bg-gray-100"
                placeholder="xác nhận mật khẩu" formControlName="confirmPassword">
                <!-- <div class="mt-2 text-[15px] text-error" *ngIf=" (registerform.controls['confirmPassword'].dirty || registerform.controls['confirmPassword'].touched)">
                    <span *ngIf="registerform.controls['confirmPassword'].errors?.['required']">
                        Bạn chưa nhập mật khẩu xác nhận
                    </span>
                    <span *ngIf="registerform.errors?.['passwordMismatch'] && !registerform.controls['confirmPassword'].errors?.['required']">
                        Mật khẩu phải trùng với mật khẩu xác thực
                    </span>
                </div>
            </div> -->
        </div>
    </div>


    <div class="w-full mt-5 d-flex justify-center">
        <div class="w-50 rounded-lg bg-main text-white text-2xl font-semibold text-center">
            <button type="submit" class="p-2.5">Đổi mật khẩu</button>
        </div>
    </div>
</form>