<p class="text-center mt-1 font-semibold text-black-0 text-4xl pb-2">Đổi mật khẩu</p>
<form [formGroup]="registerform" (ngSubmit)="ChangePassWord()">
  <div class="mt-4 flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
    <div class="w-full">
      <label for="" class="mb-2 text-black-0 font-semibold text-xl">Mật khẩu cũ</label>
      <input type="password"
             class="mt-2 p-3 w-full border-1 rounded-lg text-black dark:border-gray-200 dark:bg-gray-100"
             placeholder="Mật khẩu cũ" formControlName="currentPassword">
      <div class="mt-2 text-[15px] text-error" *ngIf="registerform.controls['currentPassword'].dirty || registerform.controls['currentPassword'].touched|| registerform.invalid && submitted ">
        <span *ngIf="registerform.controls['currentPassword'].errors?.['required']">
          Bạn chưa nhập mật khẩu cũ
        </span>
      </div>
    </div>
  </div>
  <div class="mt-4 flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
    <div class="w-full">
      <label for="" class="text-black-0 font-semibold text-xl">Mật khẩu mới</label>
      <input type="password"
             class="mt-2 p-3 w-full border-1 rounded-lg text-black dark:border-gray-200 dark:bg-gray-100"
             placeholder="Mật khẩu mới" formControlName="newPassword">
      <div class="mt-2 text-[15px] text-error" *ngIf="registerform.controls['newPassword'].dirty || registerform.controls['newPassword'].touched || registerform.invalid && submitted">
        <span *ngIf="registerform.controls['newPassword'].errors?.['required']">
          Bạn chưa nhập mật khẩu mới
        </span>
        <span *ngIf="registerform.controls['newPassword'].errors?.['minlength']">
          Mật khẩu phải dài hơn 4 ký tự
        </span>
        <span *ngIf="registerform.controls['newPassword'].errors?.['maxlength']">
          Mật không quá 15 ký tự
        </span>
      </div>
    </div>
  </div>
  <div class="mt-4 flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
    <div class="w-full">
      <label for="" class="text-black-0 font-semibold text-xl">Xác nhận mật khẩu</label>
      <input type="password"
             class="mt-2 p-3 w-full border-1 rounded-lg text-black dark:border-gray-200 dark:bg-gray-100"
             placeholder="Xác nhận mật khẩu" formControlName="confirmPassword">
      <div class="mt-2 text-[15px] text-error" *ngIf="registerform.controls['confirmPassword'].dirty || registerform.controls['confirmPassword'].touched || registerform.invalid && submitted">
        <span *ngIf="registerform.controls['confirmPassword'].errors?.['required']">
          Bạn chưa nhập mật khẩu xác nhận
        </span>
        <span *ngIf="registerform.errors?.['newPassword'] && !registerform.controls['confirmPassword'].errors?.['required']">
          Mật khẩu phải trùng với mật khẩu xác thực
        </span>
      </div>
    </div>
  </div>

  <div class="w-full mt-5 d-flex justify-center">
    <div class="w-50 rounded-lg bg-main text-white text-2xl font-semibold text-center">
      <button type="submit" class="p-2.5" [style]="{width: '100%'}">Đổi mật khẩu</button>
    </div>
  </div>
</form>