<!-- slider -->
<section class="w-full h-[700px]">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active h-[700px]" data-bs-interval="10000">
                <div class="w-full h-full relative">
                    <img src="https://assets.website-files.com/63708df071bc73798fae96ee/637857ec9e2f61a73e29596c_slider1-2.jpg"
                        alt="" class="w-full h-full object-cover">
                    <div class="w-full absolute top-[50%] left-0 translate-y-[-50%]">
                        <div class="container max-w-[1200px] 
                        max-lg:max-w-[670px]">
                            <div class="w-[650px] max-lg:w-full">
                                <h1
                                    class="text-[60px] font-[600] leading-[70px] text-[#296253] font-serif max-lg:text-[50px] max-lg:w-[500px]">
                                    Khu Vườn Từ Trái Tim Chúng Ta
                                </h1>
                                <p class="mt-4 text-2 leading-7 text-[#474747] text-justify w-[500px] max-lg:w-[400px]"
                                    style="text-shadow: 0px 0px 1px white;">
                                    Sự phát triển của cây bao gồm nhiều giai đoạn. Nhanh chóng, một lô đất được chọn.
                                    Tiếp
                                    theo, đất
                                    được đào tốt với sự trợ giúp của thuổng.
                                </p>
                                <button
                                    class="mt-[40px] bg-[#79a206] border-gray-1 rounded-md  py-[14px] px-[42px] transition-all font-[500] text-white hover:bg-black uppercase text-[14px]">Cửa
                                    hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-[700px]" data-bs-interval="2000">
                <div class="w-full h-full relative">
                    <img src="https://assets.website-files.com/63708df071bc73798fae96ee/63721741b862d54621ac058c_slider-1.jpg"
                        alt="" class="w-full h-full object-cover">
                    <div class="w-full absolute top-[50%] left-0 translate-y-[-50%]">
                        <div class="container max-w-[1200px] max-lg:max-w-[670px]">
                            <div class="w-[500px] max-lg:w-full">
                                <h1
                                    class="text-[#296253] text-[53px] font-[600] leading-[70px] font-serif w-[400px] max-lg:text-[50px] max-lg:w-[400px]">
                                    Tặng Quà Cây Xanh <span class="text-[#79a206] font-serif">Pinaf</span>
                                </h1>
                                <p class="mt-4 text-2 leading-7 text-[#474747] text-justify w-[500px] max-lg:w-[400px]">
                                    Sự phát triển của cây bao gồm nhiều giai đoạn. Nhanh chóng, một lô đất được chọn.
                                    Tiếp
                                    theo, đất
                                    được đào tốt với sự trợ giúp của thuổng.
                                </p>
                                <button
                                    class="mt-[40px] bg-[#79a206] border-gray-1 rounded-md  py-[14px] px-[42px] transition-all font-[500] text-white hover:bg-black uppercase text-[14px]">Cửa
                                    hàng</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <button class="carousel-control-prev  h-12 top-[50%] translate-y-[-50%]" type="button"
            data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-black rounded-full" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next h-12 top-[50%] translate-y-[-50%]" type="button"
            data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-black rounded-full" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- slider -->