
   
   .blog-section {
     padding-top: 50px;
     padding-bottom: 50px;
   }
   
   .blog-section.pt-0px {
     padding-top: 0px;
   }
   
   .section-summary {
     margin-bottom: 0px;
   }
   
   
   .blog-thumbnail-image.blog-details-block {
     height: 65px;
     -o-object-fit: cover;
     object-fit: cover;
   }
   
   .blog-content-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 25px;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
     text-align: left;
   }
   
   .blog-content-block.blog-details-block {
     margin-top: 0px;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
     text-align: left;
   }
   
   .blog-date-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     grid-column-gap: 9px;
   }
   
   .blog-date-block.blog-details-block {
     -webkit-box-pack: start;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     font-size: 14px;
   }
   
   .calendar-image.author-image {
     width: 100%;
     max-width: 32px;
     border-radius: 50%;
     background-color: #989898;
   }
   
   .date-text {
     font-family: 'Libre Baskerville', sans-serif;
     color: #8e8d8d;
     line-height: 1;
     font-style: italic;
   }
   
   .blog-title-link {
     color: #000;
   }
   
   .blog-title-link:hover {
     color: rgb(1 107 185 / var(--tw-text-opacity))
   }
   
   .blog-title {
     margin-top: 10px;
     margin-bottom: 15px;
     font-family: 'Libre Baskerville', sans-serif;
     font-size: 20px;
     font-weight: 400;
     text-transform: capitalize;
   }
   
   .blog-title.blog-details-block {
     margin-bottom: 0px;
     font-size: 16px;
     line-height: 23px;
   }
   
   .blog-summary {
     margin-bottom: 20px;
   }
   
   .single-blog-post.blog-details-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
     grid-column-gap: 16px;
     grid-row-gap: 16px;
   }
   
   .blog-list {
     display: -ms-grid;
     display: grid;
     grid-auto-columns: 1fr;
     grid-column-gap: 20px;
     grid-row-gap: 40px;
     -ms-grid-columns: 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     -ms-grid-rows: auto;
     grid-template-rows: auto;
   }
   
   .breadcrumb-wrapper {
     z-index: 1;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: start;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     text-align: left;
   }
   
   .breadcrumb-section {
     position: relative;
     z-index: 1;
     overflow: hidden;
     min-height: 499px;
     padding-top: 175px;
     padding-bottom: 175px;
     background-image: url("https://assets.website-files.com/63708df071bc73798fae96ee/6378b145707d74104f13ad8a_image-here%201.jpg");
     background-position: 50% 50%;
     background-size: cover;
     background-repeat: no-repeat;
   }
   
   .breadcrumb-inner {
     color: #fff;
   }
   
   .breadcrumb-link {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 25px;
     -webkit-box-pack: start;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     grid-column-gap: 7px;
     grid-row-gap: 7px;
     line-height: 18px;
   }
   
   .breadcrumb-title {
     max-width: 560px;
     margin-top: 0px;
     margin-bottom: 4px;
   }
   
   .about-banner-section {
     padding-top: 100px;
     padding-bottom: 80px;
   }
   
   .image-wrapper {
     position: relative;
     overflow: hidden;
   }
   
   .image-overlay {
     position: absolute;
     left: 0%;
     top: 0%;
     right: auto;
     bottom: auto;
     z-index: 1;
     display: none;
     width: 100%;
     height: 100%;
     background-color: #296253;
   }
   
   .media-fit-image {
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
     object-fit: cover;
   }
   
   .welcome-intro-text {
    --tw-text-opacity: 1;
     color: rgb(1 107 185 / var(--tw-text-opacity));
     font-size: 24px;
     line-height: 56px;
   }
   
   .section-gap {
     height: 120px;
   }
   
   .team-wrapper {
     margin-top: 50px;
   }
   
   .team-collection-list {
     display: -ms-grid;
     display: grid;
     grid-auto-columns: 1fr;
     grid-column-gap: 30px;
     grid-row-gap: 42px;
     -ms-grid-columns: 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     -ms-grid-rows: auto;
     grid-template-rows: auto;
   }
   
   .team-thumb-image {
     width: 100%;
   }
   
   .social-image-blue {
     position: absolute;
   }
   
   .image-link-block {
     display: block;
   }
   
   .team-job-title {
     color: #868897;
     font-size: 16px;
     line-height: 1;
   }
   
   .team-job-title.text-white {
     font-family: 'Libre Baskerville', sans-serif;
     color: #d8d8d8;
     line-height: 30px;
     font-style: italic;
   }
   
   .team-member-name {
     margin-top: 0px;
     margin-bottom: 5px;
     font-family: 'Libre Baskerville', sans-serif;
     font-size: 20px;
     line-height: 30px;
     font-weight: 400;
   }
   
   .single-team {
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     overflow: hidden;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
   }
   
   .team-link-block {
     display: inline;
     text-decoration: none;
   }
   
   .team-content-block {
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     max-width: 80%;
     margin-right: auto;
     margin-left: auto;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
   }
   
   .team-content {
     padding-top: 22px;
     padding-bottom: 19px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     background-color: #296253;
     -webkit-transition: opacity 200ms ease;
     transition: opacity 200ms ease;
   }
   
   .team-content.hover-content {
     padding-top: 14px;
     background-color: rgb(1 107 185 / var(--tw-text-opacity))
   }
   
   .team-thumb-block {
     overflow: hidden;
     -webkit-box-align: stretch;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     border-radius: 10px;
   }
   
   .social-image-white {
     position: absolute;
   }
   
   .social-content {
     position: absolute;
     left: 0%;
     right: 0%;
     bottom: 0%;
     margin-top: 20px;
     padding-top: 29px;
     border-radius: 10px;
     background-color: rgb(1 107 185 / var(--tw-text-opacity))
   }
   
   .social-link-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 40px;
     height: 40px;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     border-radius: 50%;
     background-color: #2a2e41;
   }
   
   .social-link-block.team-social-link {
     position: relative;
     width: 37px;
     height: 37px;
     border-style: solid;
     border-width: 1px;
     border-color: #fff;
     background-color: transparent;
   }
   
   .social-content-inner {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     grid-column-gap: 10px;
   }
   
   .footer-image {
     position: absolute;
     right: 0px;
     bottom: 0px;
     z-index: -1;
   }
   
   .shop-tab-link {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 40px;
     height: 40px;
     padding: 0px;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     border: 1px solid transparent;
     border-radius: 3px;
     background-color: #f3f3f3;
     -webkit-transition: border-color 300ms ease, background-color 300ms ease, color 300ms ease;
     transition: border-color 300ms ease, background-color 300ms ease, color 300ms ease;
   }
   
   .shop-tab-link.w--current {
     border-color: #b7b7b7;
     background-color: transparent;
   }
   
   .shop-tab-menu {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     grid-column-gap: 10px;
   }
   
   .shop-tab-content {
     margin-top: 60px;
   }
   
   .shop-sort-block {
     position: absolute;
     right: 0px;
     z-index: 1;
     width: 100%;
     max-width: 192px;
     -webkit-box-pack: end;
     -webkit-justify-content: flex-end;
     -ms-flex-pack: end;
     justify-content: flex-end;
   }
   
   .shop-dropdown {
     width: 100%;
     height: 40px;
     max-width: 192px;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     border-style: solid;
     border-width: 1px;
     border-color: #b7b7b7;
     border-radius: 3px;
   }
   
   .shop-dropdown-toggle {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     height: 100%;
     margin-right: 0px;
     margin-left: 0px;
     padding: 0px 15px 0px 20px;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     color: #6d6d6d;
     font-size: 15px;
   }
   
   .shop-dropdown-list {
     box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
   }
   
   .shop-dropdown-list.w--open {
     border-style: solid;
     border-width: 1px;
     border-color: #b7b7b7 #b7b7b7 transparent;
     background-color: #fff;
   }
   
   .shop-dropdown-item {
     margin-bottom: -1px;
     padding-top: 6px;
     padding-bottom: 7px;
     border-bottom: 1px solid #b7b7b7;
     color: #6d6d6d;
   }
   
   .shop-dropdown-item:hover {
     color: #000;
   }
   
   .shop-dropdown-item.w--current {
     color: #000;
   }
   
   .shop-list-wrapper {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     grid-column-gap: 50px;
     grid-row-gap: 50px;
   }
   
   .shop-list-thumbnail {
     overflow: hidden;
     width: 100%;
     max-width: 270px;
     border-style: solid;
     border-width: 1px;
     border-color: #ebebeb;
     border-radius: 5px;
   }
   
   .shop-list {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     grid-column-gap: 40px;
     grid-row-gap: 40px;
   }
   
   .shop-list-content {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
   }
   
   .shop-list-link {
     font-family: 'Libre Baskerville', sans-serif;
     color: #296253;
   }
   
   .shop-list-link:hover {
     color: rgb(1 107 185 / var(--tw-text-opacity))
   }
   
   .shop-list-title {
     margin-top: 0px;
     margin-bottom: 0px;
   }
   
   .shop-list-price-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     --tw-text-opacity: 1;

     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
     grid-column-gap: 20px;
     grid-row-gap: 20px;
     font-family: 'Libre Baskerville', sans-serif;
     color: rgb(1 107 185 / var(--tw-text-opacity));
     font-size: 18px;
     font-weight: 400;
   }
   
   .shop-list-old-price {
     color: #979796;
     text-decoration: line-through;
   }
   
   .shop-list-rating-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 15px;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     grid-column-gap: 20px;
     grid-row-gap: 20px;
   }
   
   .shop-list-summary {
     margin-bottom: 30px;
   }
   
   .shop-list-button {
     min-width: 250px;
     padding-top: 14px;
     padding-bottom: 14px;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     border-radius: 5px;
     background-color: rgb(1 107 185 / var(--tw-text-opacity));
     -webkit-transition: background-color 300ms ease;
     transition: background-color 300ms ease;
     font-size: 14px;
     line-height: 21px;
     font-weight: 600;
     text-transform: uppercase;
   }
   
   .shop-list-button:hover {
     background-color: #000;
   }
   
   .pagination-wrapper {
    display: flex;
    justify-content: center;
  }
   
   .pagination-wrapper.blop-page {
     margin-top: 60px;
   }
   
   .single-product-section {
     padding-top: 100px;
     padding-bottom: 80px;
   }
   
   .single-prodct-wrapper {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     grid-column-gap: 37px;
     grid-row-gap: 37px;
   }
   
   .single-product-details {
     width: 100%;
     max-width: 577px;
   }
   
   .single-product-tabs {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   
   .single-product-menu {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     max-width: 79px;
     margin-right: 13px;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     grid-column-gap: 10px;
     grid-row-gap: 10px;
   }
   
   .single-product-tab-link {
     padding: 0px;
     border: 1px solid transparent;
     border-radius: 3px;
     background-color: transparent;
     -webkit-transition: border-color 300ms ease, color 300ms ease;
     transition: border-color 300ms ease, color 300ms ease;
   }
   
   .single-product-tab-link:hover {
     border-color: rgb(1 107 185 / var(--tw-text-opacity));
   }
   
   .single-product-tab-link.w--current {
     border-color: rgb(1 107 185 / var(--tw-text-opacity));
   }
   
   .single-product-content {
     width: 100%;
     max-width: 470px;
   }
   
   .single-product-lightbox {
     position: relative;
     overflow: hidden;
   }
   
   .single-product-image-inner {
     width: 100%;
     max-width: 562px;
   }
   
   .product-overlay-block {
     position: absolute;
     left: 0px;
     top: 0px;
     z-index: 1;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     height: 100%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.5);
   }
   
   .zoom-icon {
     position: relative;
     z-index: 2;
   }
   
   .single-product-name {
     margin-top: 0px;
     margin-bottom: 0px;
     font-size: 32px;
     line-height: 47px;
     font-weight: 400;
   }
   
   .single-product-price-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     grid-column-gap: 20px;
     grid-row-gap: 20px;
     font-family: 'Libre Baskerville', sans-serif;
     color: rgb(1 107 185 / var(--tw-text-opacity));
     font-size: 24px;
     line-height: 47px;
     --tw-text-opacity: 1;
   }
   
   .single-product-old-price {
     color: #51544f;
     text-decoration: line-through;
   }
   
   .single-product-rating-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 11px;
     margin-bottom: 19px;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     grid-column-gap: 17px;
     grid-row-gap: 17px;
   }
   
   .single-info {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     font-size: 15px;
     line-height: 22.5px;
     text-transform: capitalize;
   }
   
   .info-title {
     width: 100%;
     max-width: 124px;
     color: #303030;
   }
   
   .single-product-cart-button-wrapper {
     margin-top: 26px;
   }
   
   .single-product-cart-label {
     margin-bottom: 16px;
     font-family: 'Libre Baskerville', sans-serif;
     color: #000;
     font-size: 16px;
     line-height: 30px;
     font-weight: 400;
   }
   
   .single-product-quantity-block {
     width: 92px;
     height: 49px;
     margin-bottom: 30px;
     padding: 15px 15px 15px 21px;
     border-color: #e2e6eb;
     border-radius: 0px;
     font-family: 'Libre Baskerville', sans-serif;
     color: #747474;
   }
   
   .single-product-cart-button {
     height: 49px;
     min-width: 325px;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     background-color: rgb(1 107 185 / var(--tw-text-opacity));
     -webkit-transition: background-color 300ms ease;
     transition: background-color 300ms ease;
     font-size: 14px;
     font-weight: 600;
     text-transform: uppercase;
   }
   
   .single-product-cart-button:hover {
     background-color: #000;
   }
   
   .single-product-info-title {
     margin-top: 0px;
     margin-bottom: 13px;
     font-family: 'Libre Baskerville', sans-serif;
     color: #000;
     font-size: 16px;
     font-weight: 400;
     text-transform: capitalize;
   }
   
   .single-product-state {
     margin-bottom: 0px;
   }
   
   .product-description-block {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 60px;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   
   .accordion-heading {
     margin-top: 0px;
     margin-bottom: 0px;
     padding-right: 30px;
     -webkit-box-flex: 1;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     font-family: 'Libre Baskerville', sans-serif;
     color: #555;
     font-size: 16px;
     line-height: 30px;
     font-weight: 400;
     cursor: pointer;
   }
   
   .accordion-item-content {
     overflow: hidden;
     margin-top: 10px;
   }
   
   .cross-icon-image {
     position: absolute;
     top: 50%;
     right: 0px;
     margin-top: -10px;
   }
   
   .accordion-item {
     margin-bottom: 15px;
     border-bottom: 1px solid #ebebeb;
     background-color: transparent;
   }
   
   .accordion-wrapper {
     max-width: 577px;
   }
   
   .accordion-item-trigger {
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 15px;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
   }
   
   .accordion-text {
     margin-bottom: 40px;
     font-size: 15px;
     font-weight: 400;
   }
   
   .related-product-section {
     padding-bottom: 100px;
   }
   
   .blog-thumbnail {
     position: relative;
   }
   
   .blog-details-page {
     padding-top: 100px;
     padding-bottom: 114px;
   }
   
   .sidebar-title {
     margin-top: 0px;
     margin-bottom: 0px;
     color: #000;
     font-size: 24px;
     line-height: 40px;
     font-weight: 600;
     text-transform: capitalize;
   }
   
   .tag-share-wrapper {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin-top: 30px;
     padding-top: 20px;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     grid-column-gap: 10px;
     grid-row-gap: 10px;
     border-top: 1px solid #a6a4a4;
   }
   
   .blog-details-content-block {
     max-width: 741px;
   }
   
  
  .single-product-section {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  
  .single-prodct-wrapper {
    display: flex;
    grid-column-gap: 37px;
    grid-row-gap: 37px;
  }
  .button-primary{
    background-color: rgb(1 107 185 / var(--tw-bg-opacity));
    font-size: 34px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .btn--active {
    background: #016bb9;
    color: white !important;
}
.cart--item {
    &:hover {
        & .btn--add {
            bottom: 20px;
        }
        & img {
            transform: rotate(5deg) scale(1.1);
            transition: all 0.25s linear;
        }
    }
}

