<!-- <section class="breadcrumb-section">
    <div class="container w-container">
        <div class="breadcrumb-wrapper">
            <div class="breadcrumb-inner">
                <h1 class="breadcrumb-title" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; max-width: 600px;
        font-size: 64px;     margin-top: 0px;
        margin-bottom: 4px; font-family: 'Libre Baskerville', sans-serif;  color: rgb(1 107 185); ">
                    Blog Post</h1>
                <div class="breadcrumb-link-block" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
                        display: flex;margin-top: 10px;align-items: center;    grid-column-gap: 10px;    color: #333;    line-height: 19px;    font-weight: 500;    letter-spacing: 0.15em;">
                    <a [routerLink]="['']"
                    routerLinkActive="text-main" [routerLinkActiveOptions]="{exact: true}" class="breadcrumb-backlink">Trang chủ </a>
                    <div class="line-shape-block"></div>
                    <div class="current-page-name"> Bài viết</div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section
    style="background: url('https://assets-global.website-files.com/64ed0f8950c730ce2ffa16ec/6524160bb43380d403f34e76_drew-dau-xI3fdzznkWg-unsplash-p-2000.jpg') no-repeat center;"
    class="w-full h-[200px] relative">
    <div class="container max-w-[1200px] relative h-full z-10">
        <div class="absolute top-[50%] left-0 translate-y-[-50%] max-lg:left-5">
            <h1 class="text-white text-[60px] font-bold 
            max-lg:text-[40px]">
                Bài viết
            </h1>
            <div class="mt-4 flex items-center gap-2 text-[17px] font-[500] text-white">
                <button class="hover:text-main" [routerLink]="['']">Trang chủ</button>
                <span>-</span>
                <span class="">Bài viết</span>
            </div>
        </div>
    </div>

    <div class="absolute top-0 left-0 w-full h-full bg-[#00000073] z-[1]">
    </div>
</section>
<section class="py-[120px] container max-w-[1200px]">
    <h1 class="text-center text-[40px] font-serif">Tin tức & Blog</h1>
    <p
        class="w-[615px] max-lg:w-full mx-auto text-justify line-clamp-2 text-[#51544f] text-[15px] leading-[28px] font-[400] mt-[25px]">
        Chào
        mừng bạn đến
        với phần Tin tức
        & Blog mới nhất của chúng
        tôi. Tại đây,
        bạn sẽ tìm
        thấy tất cả các tin tức và
        cập nhật mới nhất từ ​​nhóm của chúng tôi cũng như các bài đăng blog thú vị từ các tác giả khách mời.</p>        
    <div class="w-full mt-[66px] grid grid-cols-3 gap-5 max-lg:grid-cols-2 max-sm:grid-cols-1">
        <div *ngFor="let item of blogs">
            <button class="w-full h-[273px] overflow-hidden cart--item rounded-sm" [routerLink]="['/blog-detail', item.id]">
                <img src="{{item.images}}"
                    alt="" class="w-full h-full object-cover-contain">
            </button>
            <div class="flex justify-between items-center mt-[20px]">
                <div class="flex items-center gap-2">                    
                    <img src="https://assets.website-files.com/6371f9c50ce0bd588f4fa954/6385974f39e0d684a66a812a_003-man-1.png" *ngIf="item.imageacc == null"
                        alt="">
                    <img src="{{item.imageacc}}" alt="" srcset="" *ngIf="item.accountId != null">
                    <h4 class="text-[#8e8d8d] text-[15px] font-serif">{{item.nameacc}}</h4>
                </div>
                <h4 class="flex items-center gap-2 text-[15px] text-[#8e8d8d] font-serif">
                    <img src="	https://assets.website-files.com/63708df071bc73798fae96ee/6378997554cc50631be9cf63_calender.svg"
                        alt="">
                        {{ item.datePush | date:'dd-MM-yyyy' }} 
                </h4>
            </div>
            <div class="mt-[18px]">
                <a [routerLink]="['/blog-detail', item.id]" class="hover:text-main">
                    <h1 class="text-[24px] line-clamp-1 font-[500]">{{item.header}}</h1>
                </a>
                <p class="mt-[15px] line-clamp-2 leading-7 text-[#51544f]" [innerHTML]="item.content.length > 150 ? (item.content | slice:0:150) + '...' : item.content">
                </p>
                <a class="mt-[20px] text-[16px] hover:text-main font-[500]" [routerLink]="['/blog-detail', item.id]">Xem thêm</a>
            </div>
        </div>
    </div>
</section>
            <div class="bg-white mt-[50px] text-center dark:bg-dark">
                <div
                    class="mb-12 inline-flex justify-center rounded bg-white p-3 shadow-[0px_1px_3px_0px_rgba(0,0,0,0.13)] dark:bg-dark-2">
                    <ul class="inline-flex overflow-hidden rounded-lg border border-stroke dark:border-white/5" *ngFor="let item of numberPages" routerLinkActive="active">
                        <li>
                            <a href="#" class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5 btn--active">
                                {{item}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>