<!-- slider -->
<section
    style="background: url('https://assets.website-files.com/63708df071bc73798fae96ee/6378b145707d74104f13ad8a_image-here%201.jpg') no-repeat;"
    class="w-full h-[499px]">
    <div class="container max-w-[1200px] relative h-full">
        <div class="absolute top-[50%] left-0 translate-y-[-50%] max-lg:left-5">
            <h1 class="text-title text-[60px] font-serif font-bold 
            max-lg:text-[40px]">
                Cửa hàng
            </h1>
            <div class="mt-4 flex items-center gap-2 text-[17px] font-[500]">
                <button class="hover:text-main" [routerLink]="['']">Trang chủ</button>
                <span>-</span>
                <span>Cửa hàng</span>
            </div>
        </div>
    </div>
</section>
<!-- slider -->

<!-- cartegory -->
<section class="mt-[120px] container max-w-[1200px] flex items-center justify-between">
    <div class="">
        <h1 class="text-[18px] font-bold uppercase">Có 18 sản phẩm</h1>
    </div>
    <div class="flex items-center gap-4 flex-wrap max-lg:hidden">
        <button class="text-[15px] font-[500] hover:text-main uppercase btn--active py-1 px-3 rounded-sm">Tất
            cả</button>
        <button class="text-[15px] font-[500] hover:text-main uppercase py-1 px-3">Outdoor</button>
        <button class="text-[15px] font-[500] hover:text-main uppercase py-1 px-3">Indoor</button>
        <button class="text-[15px] font-[500] hover:text-main uppercase py-1 px-3">
            Terrace & Balcony
        </button>
        <button class="text-[15px] font-[500] hover:text-main uppercase py-1 px-3">Office Desk</button>
    </div>
    <!-- dropdown -->
    <div class="lg:hidden">
        <div class="text-center">
            <div (click.outside)="dropdownOpen = false" class="relative inline-block text-left">
                <button (click)="dropdownOpen = !dropdownOpen"
                    class="bg-main flex items-center rounded-sm px-4 py-2 text-[15px] font-[500] text-white uppercase hover:bg-main/80">
                    Tất cả
                    <span class="pl-4">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="fill-current">
                            <path
                                d="M10 14.25C9.8125 14.25 9.65625 14.1875 9.5 14.0625L2.3125 7C2.03125 6.71875 2.03125 6.28125 2.3125 6C2.59375 5.71875 3.03125 5.71875 3.3125 6L10 12.5312L16.6875 5.9375C16.9688 5.65625 17.4063 5.65625 17.6875 5.9375C17.9687 6.21875 17.9687 6.65625 17.6875 6.9375L10.5 14C10.3437 14.1563 10.1875 14.25 10 14.25Z" />
                        </svg>
                    </span>
                </button>
                <div [ngClass]="dropdownOpen ? 'top-full opacity-100 visible' : 'top-[110%] invisible opacity-0' "
                    class="shadow-1 dark:shadow-box-dark absolute left-0 z-40 mt-2 w-full rounded-sm bg-white dark:bg-dark-2 transition-all overflow-hidden">
                    <a href="" class=" block p-3 text-[14px] uppercase hover:text-main font-[500] hover:bg-main/5">
                        OUTDOOR
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- dropdown -->
</section>
<!-- cartegory -->

<!-- products -->
<section class="container max-w-[1200px] mt-[60px]">
    <div class="grid grid-cols-4 gap-4 max-lg:grid-cols-2 max-sm:grid-cols-1">
        <div class="border rounded-sm cart--item bg-white" *ngFor="let item of items">
            <div class="w-full h-[340px] overflow-hidden relative">
                <img src="https://assets.website-files.com/6371f9c50ce0bd588f4fa954/637315062bd81e4589147fe3_image-1.jpg"
                    alt="" class="w-full h-full object-cover ">
                <div class="absolute z-20 bottom-[-50px] left-0 w-full px-9 btn--add transition-all">
                    <button
                        class="bg-[#79a206] text-white w-full py-[10px] text-[14px] rounded-sm uppercase font-[500] hover:bg-black hover:text-white">
                        <i class="fa-solid fa-cart-plus mr-[5px]"></i>
                        Thêm vào giỏ hàng
                    </button>
                </div>
            </div>
            <div class="">
                <h2
                    class="text-[#296253] text-[17px] font-serif text-center mt-[24px] font-[500] line-clamp-1 uppercase">
                    <a href="">Mini Olive Tree</a>
                </h2>
                <p class="text-[#79a206] text-[17x] text-center mb-[24px] mt-3 font-[500]">40.000đ</p>
            </div>
        </div>
    </div>
</section>
<!-- products -->

<!-- ====== Pagination Section Start -->
<div class="bg-white pb-[120px] mt-[40px] text-center dark:bg-dark">
    <div
        class="mb-12 inline-flex justify-center rounded bg-white p-3 shadow-[0px_1px_3px_0px_rgba(0,0,0,0.13)] dark:bg-dark-2">
        <ul class="inline-flex overflow-hidden rounded-lg border border-stroke dark:border-white/5">
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5 btn--active">
                    1
                </button>
            </li>
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5">
                    2
                </button>
            </li>
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5">
                    3
                </button>
            </li>
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5">
                    4
                </button>
            </li>

        </ul>
    </div>
</div>
<!-- ====== Pagination Section End -->