<!-- slider -->
<section
    style="background: url('https://assets-global.website-files.com/64ed0f8950c730ce2ffa16ec/6524160bb43380d403f34e76_drew-dau-xI3fdzznkWg-unsplash-p-2000.jpg') no-repeat center;"
    class="w-full h-[200px] relative">
    <div class="container max-w-[1200px] relative h-full z-10">
        <div class="absolute top-[50%] left-0 translate-y-[-50%] max-lg:left-5">
            <h1 class="text-white text-[60px] font-bold 
            max-lg:text-[40px]">
                Cửa hàng
            </h1>
            <div class="mt-4 flex items-center gap-2 text-[17px] font-[500] text-white">
                <button class="hover:text-main" [routerLink]="['']">Trang chủ</button>
                <span>-</span>
                <span class="">Cửa hàng</span>
            </div>
        </div>
    </div>

    <div class="absolute top-0 left-0 w-full h-full bg-[#00000073] z-[1]">
    </div>
</section>
<!-- slider -->

<main class="pt-[50px] pb-[120px] container max-w-[1200px]">
    <article class="flex justify-between">
        <section class="flex-1 max-xl:hidden pr-3">
            <div class="flex flex-col sticky top-[5rem]">
                @if(nameSearch == null){
                <h1 class="mb-2 border-b pb-3">Loại sản phẩm:</h1>
                <button class="text-left
                    px-1 py-3 flex items-center gap-x-4 capitalize font-[500] hover:text-title"
                    (click)="isCategory = 0; GetProductsByIdCategory(0)">
                    <div class="p-1 size-[17px] flex items-center justify-center rounded-sm text-white border"
                        [class.bg-main]="isCategory == 0">
                        @if (isCategory == 0) {
                        <i class="fa-solid fa-check text-[12px]"></i>
                        }
                    </div>
                    Tất cả
                </button>
                <button class="text-left
                    px-1 py-3 flex items-center gap-x-4 capitalize font-[500] hover:text-title"
                    (click)="isCategory = item.id; GetProductsByIdCategory(item.id)" *ngFor="let item of arrCategorys">
                    <div class="p-1 size-[17px] flex items-center justify-center rounded-sm border text-white"
                        [class.bg-main]="isCategory == item.id">
                        @if (item.id == isCategory) {
                        <i class="fa-solid fa-check text-[12px]"></i>
                        }
                    </div>
                    {{item.name}}
                </button>
                }

                <h1 class="mb-2 border-b pb-3 mt-6">Lọc theo giá:</h1>
                <button class="text-left
                px-1 py-3 flex items-center gap-x-4 capitalize font-[500] hover:text-title"
                    (click)="isFilter = 1; FilterProducts(isFilter)">
                    <div class="p-1 size-[17px] flex items-center justify-center rounded-sm text-white border"
                        [class.bg-main]="isFilter == 1">
                        @if (isFilter == 1) {
                        <i class="fa-solid fa-check text-[12px]"></i>
                        }
                    </div>
                    Từ cao đến thấp
                </button>
                <button class="text-left
                px-1 py-3 flex items-center gap-x-4 capitalize font-[500] hover:text-title"
                    (click)="isFilter = 2; FilterProducts(isFilter)">
                    <div class="p-1 size-[17px] flex items-center justify-center rounded-sm text-white border"
                        [class.bg-main]="isFilter == 2">
                        @if (isFilter == 2) {
                        <i class="fa-solid fa-check text-[12px]"></i>
                        }
                    </div>
                    Từ thấp đến cao
                </button>
            </div>
        </section>
        <section class="w-[960px] max-xl:flex-1 bg-secondColor/5 px-[30px] relative">
            @if(products.length > 0){
            <div class="w-full bg-white mt-3 rounded-sm px-[25px] 
                py-[15px]">
                <h1 class="text-[17px] font-[500]">Có {{products.length}} sản phẩm</h1>
            </div>
            <!-- item -->
            <div class="w-full flex mt-[30px] rounded-sm bg-white max-md:flex-col relative"
                *ngFor="let item of products; let itemIndex = index">
                <button class="size-[290px] p-[30px] max-lg:size-[200px] max-lg:pt-[4rem] max-md:w-full max-md:h-auto">
                    <img [src]="item.image" alt="" class="size-full object-cover">
                </button>
                <div class=" py-[4rem] grid grid-cols-2 flex-1 max-md:grid-cols-1 max-md:py-[2rem]">
                    <div class="px-[35px] border-x">
                        <button [routerLink]="['/single-product/' + item.id]" class="text-[20px] text-title font-[500]">
                            {{item.name}}
                        </button>
                        <div class="text-justify mt-4 leading-6 line-clamp-4" [innerHTML]="item.description">
                        </div>
                    </div>

                    <div class="px-[35px] max-md:mt-3">
                        <button class="text-[20px] font-[500] text-main">
                            {{item.variant[selectedSizeIndices[itemIndex]].price | currency:' ':'symbol':'1.0-0'}},000đ
                        </button>
                        <div class="mt-3 flex items-center gap-x-3">
                            <button class="
                                size-[20px] border border-black rounded-full font-[500]"
                                [ngStyle]="{'background': colors.code}"
                                *ngFor="let colors of item.colors; let colorIndex = index"
                                [class.is-color-active]="selectedColorIndices[itemIndex] === colorIndex"
                                (click)="selectedColorIndices[itemIndex] = colorIndex">
                                @if(selectedColorIndices[itemIndex] === colorIndex){
                                <i class="fa-solid fa-check text-[12px]"></i>
                                }
                            </button>
                        </div>
                        <div class="flex items-center mt-3 gap-x-3 flex-wrap">
                            <div class="flex items-center gap-x-1"
                                *ngFor="let variant of item.variant;let variantIndex = index">
                                <button class="rounded-full size-[18px] font-[500] border"
                                    [class.is-active]="selectedSizeIndices[itemIndex] === variantIndex"
                                    (click)="selectedSizeIndices[itemIndex] = variantIndex"></button>
                                <p class="">
                                    {{StringSize(variant.size)}}
                                </p>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button class="w-full bg-main rounded-sm py-[10px]
                                uppercase text-white font-[500] text-[14px] hover:bg-title
                                "
                                (click)="AddToCart(item.colors[selectedColorIndices[itemIndex]], item.id, item.variant[selectedSizeIndices[itemIndex]])">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>
                <div class="absolute top-2 right-3">
                    <button class="border border-black p-2 rounded-full">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>
            </div>
            <!--  item -->
            <div class="flex justify-center my-5">
                <button class="text-[16px] font-[500] bg-main
                    px-4 py-2 rounded-sm text-white hover:bg-title
                    " (click)="SeeMoreProdcuts(page)" *ngIf="isButton">
                    Xem thêm
                </button>
            </div>
            }
            @else {
            <div class="w-full flex items-center justify-center mt-[10rem] rounded-sm px-[25px]">
                <h1 class="text-[30px] text-secondColor font-[500]">
                    <i class="fa-solid fa-filter-circle-xmark"></i>
                    Không tìm thấy sản phẩm
                </h1>
            </div>
            }

        </section>
    </article>
</main>

<!-- ====== Pagination Section Start -->
<!-- <div class="bg-white pb-[120px] mt-[40px] text-center dark:bg-dark">
    <div
        class="mb-12 inline-flex justify-center rounded bg-white p-3 shadow-[0px_1px_3px_0px_rgba(0,0,0,0.13)] dark:bg-dark-2">
        <ul class="inline-flex overflow-hidden rounded-lg border border-stroke dark:border-white/5">
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5 btn--active">
                    1
                </button>
            </li>
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5">
                    2
                </button>
            </li>
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5">
                    3
                </button>
            </li>
            <li>
                <button
                    class="flex h-10 min-w-10 items-center justify-center border-r border-stroke px-2 text-base font-medium text-dark hover:bg-gray-2 dark:border-white/10 dark:text-white dark:hover:bg-white/5">
                    4
                </button>
            </li>

        </ul>
    </div>
</div> -->
<!-- ====== Pagination Section End -->