.is-check-wishList {
    background: #016bb9;
    color: white !important;
}

.btn--active {
    background: #016bb9;
    color: white !important;
}

.is-active {
    border: thick double #016bb9 !important;
}

.is-color-active {
    border: 2px solid #03253e !important;
}