<section class="">
    <div class="flex items-center justify-between border-b-2 pb-[22px] px-[30px]">
        <h1 class="text-[18px]">Địa chỉ của tôi</h1>
        <button class="h-[40px] px-[20px] bg-main rounded-sm hover:bg-title text-white">
            <i class="fa-solid fa-plus mr-1"></i>
            Thêm địa chỉ mới
        </button>
    </div>
    <div class="pt-3">
        <h1 class="text-[17px] px-[30px]">Địa chỉ</h1>

        <!-- item -->
        <div class="px-[30px] py-[18px]" style="border-bottom: 1px solid #e6e6e6;">
            <div class="py-3 flex items-center justify-between">
                <div class="">
                    <div class="flex items-center gap-2">
                        <h1 class="text-[19px] m-0"> Lê Sỹ Kiên </h1>
                        <p>-</p>
                        <p class="text-[16px] m-0 text-secondColor">
                            (+84) 905250356
                        </p>
                    </div>
                    <div class="mt-1 text-secondColor">
                        <p class="text-[15px] leading-5">
                            515/20/5 hà huy tập
                            Phường Tân Lợi, Thành Phố Buôn Ma Thuột, Đắk Lắk
                        </p>
                    </div>
                    <div class="">
                        <button class="text-main text-[14px] mt-2 py-[2px] px-[4px]" style="border: 1px solid;">
                            Mặc định
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-end">
                    <div class="flex items-center gap-x-4">
                        <button class="text-main text-[15px]">Cập nhật</button>
                        <button class="text-main text-[15px]">Xóa</button>
                    </div>
                    <button class="mt-2 text-[14px] border px-[12px] py-[4px] hover:bg-secondColor/10">
                        Thiết lập mặc định
                    </button>
                </div>
            </div>
        </div>
        <!-- item -->
    </div>
</section>