<main class="flex items-center">
    <section class="flex-1 relative">
        <div class="h-dvh">
            <img src="https://themewagon.github.io/homeland/images/hero_bg_1.jpg" alt="" class="size-full object-cover">
        </div>
        <div class="absolute size-full top-0 left-0 bg-[#00000073]"></div>
    </section>
    <section class="w-[480px] py-[40px] h-dvh relative">
        <div class="flex justify-center mb-[70px] mt-[50px]">
            <button class="" [routerLink]="['']">
                <h1 class="uppercase text-[20px] font-[500]">
                    Chống thấm khang an
                </h1>
                <h1 class="uppercase text-[12px]">
                    Cung Thi công chống thấm - Cung cấp vật tư chống thấm
                </h1>
            </button>
        </div>
        <div class="text-center mb-[32px]">
            <h1 class="text-[21px] font-[500]">Quên mật khẩu</h1>
        </div>       
        <!-- form -->
<form class="mt-4 w-[348px] m-auto" [formGroup]="registerform" (ngSubmit)="ForgetPassWord()">
    <div class="w-full">
        <input type="email" placeholder="Nhập email"
            class="w-full border-1 px-[8px] py-[7px] rounded-sm focus:border-main text-[17px]"
            formControlName="email">
        <div *ngIf="registerform.controls['email'].invalid && (registerform.controls['email'].dirty || registerform.controls['email'].touched) || registerform.invalid && submitted" class="mt-2 text-[15px] text-error">
            <span *ngIf="registerform.controls['email'].errors?.['required']">
                Bạn chưa nhập email
            </span>
            <span *ngIf="registerform.controls['email'].errors?.['email']">
                vui lòng nhập đúng định dạng email
            </span>
        </div>
    </div>
    <button
        class="w-full mt-4 bg-main text-white py-[10px] rounded-sm hover:bg-black transition-colors font-[500] uppercase text-[15px]">
        Quên mật khẩu
    </button>
</form>
<div class="w-[348px] mx-auto mt-8 text-[15px]">
    <div class=" mt-3 text-[15px] leading-5 px-3 flex justify-center">
        <p class="mr-1">Trở về trang </p>
        <button class="text-main" [routerLink]="['/sign-in']"> Đăng nhập</button>
    </div>
</div>

    </section>
</main>
<!-- form -->

